<h3>Ejercicio 13</h3>

<div class="container">
    <form (ngSubmit)="guardar()" #forma="ngForm">
        <label for="correo">Correo Electronico: </label>
            <input 
            type="text" 
            id="correo" 
            placeholder="Escribir correo electronico"
            class="mensaje"
            name="correo"
            [(ngModel)]="persona.correo"
            required
            #correo="ngModel"
            [class.is-invalid]="correo.invalid && correo.touched"
            pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$"
            >
            <label class="text-danger" *ngIf="correo.valid && correo.touched">
                El correo electronico es valido
            </label>

            <label class="text-danger" *ngIf="correo.invalid && correo.touched">
                El correo electronico no es valido
            </label>

            <button type="submit" class="btn" [disabled]="!forma.valid">Verificar</button>

    </form>
</div>
